PORT=5000
MONGODB_URI=mongodb+srv://singlapulkit1103_db_user:pulkit2005@skillvora.i67pddl.mongodb.net/
JWT_SECRET=your_jwt_signing_super_secret_key_change_me
JWT_EXPIRE=7d

# SMTP Gmail Setup
EMAIL_USER=moneyspendly@gmail.com
EMAIL_PASS=wlxrlrgblibdlkkq
ADMIN_EMAIL=pulkitsingla4215@gmail.com

# Client Application URL
CLIENT_URL=http://localhost:5173
