PORT=5000
MONGODB_URI=mongodb+srv://singlapulkit1103_db_user:pulkit2005@skillvora.i67pddl.mongodb.net/
JWT_SECRET=super_secret_skillvora_development_key_12345
JWT_EXPIRE=7d

# Gmail SMTP Configuration (REQUIRED FOR REAL EMAILS)
# 1. EMAIL_USER: Your full Gmail address (e.g. academy@gmail.com)
# 2. EMAIL_PASS: Your 16-character Google App Password (not your main account password!)
# 3. ADMIN_EMAIL: The email inbox that will receive student enrollment requests
EMAIL_USER=moneyspendly@gmail.com
EMAIL_PASS=wlxrlrgblibdlkkq
ADMIN_EMAIL=pulkitsingla4215@gmail.com

# Custom SMTP Configuration (Highly Recommended for cloud environments like Render to bypass blocked ports 465/587)
# For example, with Brevo, set:
# SMTP_HOST=smtp-relay.brevo.com
# SMTP_PORT=2525
# SMTP_USER=your_smtp_registered_email_or_user
# SMTP_PASS=your_smtp_master_password_or_api_key
CLIENT_URL=http://localhost:5173

# Cloudinary Configuration (Optional - Required for secure image uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Google Drive API Key (Required for fetching exact video duration automatically)
GOOGLE_DRIVE_API_KEY=AIzaSyCeWZAUVewkJtSZ-mXfRwP47RtWBjAU8Mk
